{% extends  'base.html' %}

{% block head_block %}
Babb
{% endblock head_block %}

{% block content %}

<div class='row text-center'>
    <div class="col">
        <h1>start babbeling </h1>

    </div>

</div>

<div class='row' id= tweets>
    My div 1 tweet
</div>


<script>

const tweetsElement = document.getElementById("tweets")

const xhr = new XMLHttpRequest()
const method = 'GET'
const url = "/tweets"
const responseType = "json"

xhr.responseType = responseType

function likeCount(tweet_id, currentCount){
  
    console.log(tweet_id, currentCount)
}

function likeBtn(tweet) {
    
   return "<button class='btn btn-primary btn-sm'  onclick=likeCount(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + "Like</button>"
}

function formatTweetElement(tweet){
 var formattedItem   = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet'  id='tweet-" + tweet.id  + "'><p>"
   
    + tweet.content + 
    
    "</p><div class ='btn-group'>"  + likeBtn(tweet) + "</div></div>"
    
 return formattedItem
}



xhr.open(method, url)
xhr.onload =  function() {
   
    const serverResponse = xhr.response
    const listedItems = serverResponse.response

    var finalTweets = ""
    var i;
    for(i=0; i<listedItems.length; i++){
        var tweetObj = listedItems[i]
        var currentItem = formatTweetElement(tweetObj)
        finalTweets += currentItem
    }
    
    tweetsElement.innerHTML = finalTweets
}

xhr.send()

</script>
 

{% endblock content %}